body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #343232;
    color: #EDEDED;
}


.calculator-container {
    background-color: #010101;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
}

.display-screen {
    height: 20%;
    border-radius: 10px;
    background-color: #171717;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-size: 50px;
}

.buttons-container {
    height: 80%;
    background-color: #010101;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    gap: 10px;
}

.buttons-row {
    display: flex;
    flex: 1;
    gap: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #171717;
    font-size: 30px;
    border-radius: 100px;
}

/* Sets the hover effect on all buttons 
except for the equals one */
.button:not([class="button equals"]):hover {
    background-color: #2e2d2d;
}

.operator {
    color: #64D02F;
}

.equals {
    background-color: #318607;
}

.delete {
    color: #F26E6C;
}



.credit > a {
    color: #0d6efd;
}